.contact{
    margin: 50px auto;
    max-width: 90%;
    display:flex;
    align-content: center;
    justify-content: space-between;
}

.contact-col{
    flex-basis: 48%;
    color: #676767;
}

.contact-col h3 {
    color:#000F38;
    font-weight: 500;
    font-size: 25px;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.contact-col p{
    max-width: 450px;
    list-style: lower-latin;
}

.contact-col ul li {
    display: flex;
    color:#000F38;
    font-weight: 400;
    align-items: center;
    margin: 20px 0;
}

.contact-col ul li img{
    width: 25px;
    margin-right: 10px;
    
}

.contact-col form input,
.contact-col textarea{
    display: block;
    width:100%;
    padding: 15px;
    border: 0;
    outline: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    resize: none;
    background: #EBECFE;
}

.contact-col form label{
    color:#000F38;
    font-weight: 400;
}

.fancy-submit {
  padding: 12px 24px;
  background-color: #2499bd; /* Vibrant orange */
  color: white;
  font-size: 16px;
  font-weight: 600;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.fancy-submit:hover {
  background-color:rgb(18, 14, 151);
  transform: translateY(-2px);
}
.fancy-submit:active {
  transform: scale(0.98);
}

